#  Установка кодировки сайта по умолчанию. При необходимости, закомментируйте.
#  Строка решает проблему с "крякозябрами" в редакторе TinyMCE и текста лицензии при установке
#  на Денвере и некоторых серверах с жестко прописанной кодировкой. Это на 99,9% работающее решение.
#  После переименования этого файла htaccess.txt в .htaccess проблема решится.
#  Если проблема осталась - перечитайте предыдущее предложение (возможно неправильно переименовали).
 
AddDefaultCharset utf-8